form {
    background-color: #00ff59;
    text-align: center;
}

form button[type="submit"] {
    height: 50px;
    width: 150px;
    background-color: aquamarine;
}

form div {
    background-color: yellow;
    height: 50px;
}
form input {
    height: 30px;
    width: 200px;
}